extends layout

block nameOfSite
  | #{data.title}

block metaData
  meta( name = 'viewport', content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )
  mata( property='fb:app_id' content='306911439343485' )
  meta( property='og:url' content='http://diplogift.com' )
  meta( property='og:type' content='website' )
  meta( property='og:site_name' content='台南市城市交流藝廊' )
  meta( property='og:title' content='台南市城市交流藝廊' )
  meta( property='og:description' content='臺南市不斷與世界各地城市有著各式交流活動，同時也接收到來自各方祝福，收受了各種獨特的公務禮物，但這些禮物過去都只被保存在市府內未曾公開。每個禮物背後都是曾經聯繫的故事，為了讓這些故事更為人所知，讓記憶得以延續，因此誕生了這個網站。' )
  meta( property='og:image' content='http://diplogift.com/images/g1s/s361_01.jpg' )
  meta( property='og:image:type' content='image/jpeg' ) 
  meta( property='og:image:width' content='1200' ) 
  meta( property='og:image:height' content='800' )

block stylesheets
  link( rel = 'stylesheet', href = data.css.main )

block content
  #toolbar
    #search.circle
    #home.circle
    #menu.circle
  #search-mode.screen
    input.input-search
    #button-set.search-btn-set
      button#cancel.search-btn 取消
      button#go.search-btn 搜尋
    #search-results.search-results
      ul.ul-search-results
  #home-mode.screen
    .website-title
    .home-fb-like-n-share
      div(class='fb-like' data-share='true' data-width='200' data-show-faces='true')
    .home-banners-set
      #recent-campaigns.banner-home
        p 近期活動
      #past-events-n-items.banner-home
        p 交流存摺
  #menu-mode.screen
    h1 
      span 台
      span 南
      span 市
      span 城
      span 市
      span 交
      span 流
      span 藝
      span 廊
    ul.menu-level-0
      li#goto-home 
        a.menu-inner-a 首頁
      li#goto-campaigns 
        a.menu-inner-a 近期活動
      li#past-events 
        a.menu-inner-a 交流事件
      li#collected-items
        a.menu-inner-a 所有禮品
      li#tryit
        a.menu-inner-a 試試手氣
      li#about-the-site
        a.menu-inner-a 關於本站
  #campaigns-mode.screen
    ul#campaigns.ul-campaigns
  #allposts-mode.screen
    ul#posts.ul-posts
  #card-mode.screen
    #card-images-roll.card-images
    #card-images-roll-mask
      .card-social-btn-set
        span.card-social-btn.card-line-icn
        span.card-social-btn.card-fb-icn
    .share-n-more
      span.share-section-icn
        center
          p 分享連結
      span.more-section-icn
        center
          p 所有照片
    ul#item-info.card-ul-info
      li.card-info-subtitle
        p
          | 交流禮品
      li#item-name.card-info-text
      li.card-info-subtitle
        p
          | 致贈者
      li#item-from.card-info-text
      li.card-info-subtitle
        p
          | 受贈者
      li#item-to.card-info-text
      li.card-info-subtitle
        p
          | 受贈日期
      li#item-date.card-info-text
    ul#story-section
      li#event-section-title.story-title
      li#event-section-content.story-content
      li#about-section-title.story-title
      li#about-section-content.story-content
    .card-fb-comments-section
      div(class="fb-comments" data-href=data.url data-numposts="5" data-colorscheme="light")
  #about-this-site-mode.screen
  #landscape-mode.fullscreen
    .innerblock
      p 水平模式
  #allpics-mode.fullscreen
    ul#showAllPics
  p( id = 'acadatapipe' style = 'display:none' ) #{data.ret}
  #waiting.screen
    .spin-section
      .spinner
        .double-bounce1
        .double-bounce2
  p#acadatapipe-goto(style="display:none") #{goto}

block javascripts
  each jssrc in data.js.jquery
    script( src = jssrc )
  script( src = data.js.aca.tool )
  each jssrc in data.js.inc
    script( src = jssrc )

